:root {
	font-size: 62.5%;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html,
body {
	height: 100%;
	font-size: 1.6rem;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

input,
button,
textarea,
select {
	font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

#root,
#__next {
	isolation: isolate;
}

/* -------------------- */
body {
	background-color: #f4f1de;
	display: grid;
	place-content: center;
	font-family: "Roboto Condensed", sans-serif;
	color: #3d405b;
}

img {
	max-height: 100%;
	border-radius: 2rem 0 0 2rem;
}

.container {
	display: grid;
	grid-template-columns: 1.547fr 2fr;
	background-color: #81b29a;
	height: 90rem;
	width: 90vw;
	margin: 0 auto;
	border-radius: 2rem;
}

.content {
	display: flex;
	flex-direction: column;
	padding: 5rem 10rem;
}

.header {
	font-size: 1.5rem;
	padding: 1rem 0;
}

.submit {
	padding: 2rem 0;
}

.form {
	font-weight: 700;
}

fieldset {
	border: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
	color: #353535;
}

legend {
	padding: 2rem 2rem;
	font-size: 2.3rem;
}

input {
	border-radius: 5px;
	border: 2px solid #f4f1de;
	margin: 0 0 1rem 0;
	padding: 0.4rem;
	background-color: #f4f1de;
	font-size: 2rem;
	font-weight: 400;
	color: #3d405b;
}
input:focus {
	outline: none;
	border: 2px solid #e07a5f;
}

.inputs {
	display: grid;
	margin: 0 2rem;
}

.submit {
	padding-left: 2rem;
}

.footer {
	font-family: "Raleway", sans-serif;
	margin-top: 5rem;
	place-self: center;
	font-weight: bold;
	color: #f4f1de;
	font-style: italic;
}
.footer a {
	color: #3d405b;
	text-decoration: none;
	font-size: 1.8rem;
	margin-left: 0.5rem;
}
.footer a:visited {
	color: #3d405b;
}
.footer a:hover {
	color: #e07a5f;
}
button {
	padding: 1.5rem 3rem;
	border: 0;
	margin: 2rem 0;
	font-weight: bold;
	font-size: 2rem;
	letter-spacing: 0.2rem;
	color: #f4f1de;
	background-color: #e07a5f;
	border-radius: 1rem;
	cursor: pointer;
}
button:hover {
	color: #e07a5f;
	background-color: #f4f1de;
}

.submit p {
	font-style: italic;
	font-weight: 400;
}
.submit p > a {
	color: #3d405b;
	text-decoration: none;
	font-weight: bold;
}
.submit p > a:visited {
	color: #3d405b;
}
.submit p > a:hover {
	color: #e07a5f;
}

h1,
h2 {
	font-family: "Raleway", sans-serif;
	line-height: 1.5;
	margin: 1.5rem 0;
	padding-left: 2rem;
}
